<?xml version="1.0"?>
<launch>
    <param name="robot_description" textfile="$(find explorer_bot)/urdf/explorer_bot.urdf"/>
    
    <include file="$(find gazebo_ros)/launch/empty_world.launch"/>

    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model explorer "/>

    <node name="Rviz" pkg="rviz" type="rviz" output="screen" args="-d /home/joseph/slam_ws/src/explorer/config/simple.rviz"/>

    <node name="RSP" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
        <param name="use_sim_time" value="true"/> 
        <param name="publish_frequency" value="50.0"/> 
        <param name="wheel_radius" value="0.035"/> 
        <param name="wheel_separation" value="0.25"/> 
        <param name="left_wheel_joint" value="left_wheel_joint"/> 
        <param name="right_wheel_joint" value="right_wheel_joint"/> 
    </node>

    <node pkg="gmapping" type="slam_gmapping" name="maping_node">
        <param name="base_frame" value="base_link" />
        <param name="odom_frame" value="odom" />
        <param name="delta" value="0.1" />
    </node>


</launch>